.progress-bar > .track {
    -fx-text-box-border: rgba(58, 58, 69, 0.88);
    -fx-control-inner-background: rgba(58, 58, 69, 0.88);
}

.progress-bar > .bar {
    -fx-padding: 7px;
    -fx-background-insets: 0;
    -fx-accent: rgba(255, 140, 62, 0.86);
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
