.button-pane {
    -fx-max-width: 25;
    -fx-max-height: 25;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16 16;
    -fx-background-position: center;
}

.butSearch {
    -fx-background-image: url(../img/icon/pane/search.png);
}

.butReplace {
    -fx-background-image: url(../img/icon/pane/replace.png);
}

#butSave {
    -fx-background-image: url(../img/icon/pane/save.png);
}

#butCreate {
    -fx-background-image: url(../img/icon/pane/create.png);
}

#butExit {
    -fx-background-image: url(../img/icon/pane/exit.png);
}

#butOpen {
    -fx-background-image: url(../img/icon/pane/open.png);
}

#butCancel {
    -fx-background-image: url(../img/icon/pane/cancel.png);
}

#butCopy {
    -fx-background-image: url(../img/icon/pane/copy.png);
}

#butPaste {
    -fx-background-image: url(../img/icon/pane/paste.png);
}

#butCut {
    -fx-background-image: url(../img/icon/pane/cut.png);
}

#butFont {
    -fx-background-image: url(../img/icon/pane/font.png);
}

#butLeft {
    -fx-background-image: url(../img/icon/pane/left.png);
}

#butCenter {
    -fx-background-image: url(../img/icon/pane/central.png);
}

#butRight {
    -fx-background-image: url(../img/icon/pane/right.png);
}

#butUnderscore {
    -fx-background-image: url(../img/icon/pane/underline.png);
}

#butBold {
    -fx-background-image: url(../img/icon/pane/bold.png);
}

#butCursive {
    -fx-background-image: url(../img/icon/pane/italic.png);
}

.menu-item {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16 16;
    -fx-background-position: left;
    -fx-padding: 5 5 5 20;
}

#menuCreate {
    -fx-background-image: url(../img/icon/pane/create.png);
}
